/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #39393c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  background-color: rgb(153, 175, 159);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%;
  max-width: 400px;
}

#auth, #chat {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

#messages div {
  margin-bottom: 10px;
}

#message-form {
  display: flex;
}

#message {
  flex: 1;
  border: 1px solid #ccc;
border-radius: 4px 0 0 4px;
  padding: 10px;
  font-size: 16px;
}

#message-form .input-group-append {
  display: flex;
  flex: none;
}

#message-form button {
  border-radius: 0 4px 4px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .chat-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}